@charset "UTF-8";

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container{
  background-color: gray;
  min-height: 100vh;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  
  gap: 10px 10px ;

  grid-auto-rows: minmax(100px, auto);
  grid-template-areas:
  "header header header"
  "item1 item2 item3"
  "item1 item2 item3"
  "item4 item4 item4"
  "item4 item4 item4"
  "item5 item5 item6"
  "item5 item5 item6"
  "footer footer footer"
  ;
}

.header {
  grid-area: header;
}

.footer{
  grid-area: footer;
}

.item{
  border: 2px solid black;
  background-color: white;
  font-size: 32px;
  padding: 10px;
  
}

.item1{
  grid-area: item1;
}

.item2{
  grid-area: item2;
}

.item3{
  grid-area: item3;
}

.item4{
  grid-area: item4;
}

.item5{
  grid-area: item5;
}

.item6{
  grid-area: item6;
}