@charset "UTF-8";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100vw;
}

@media (max-width:767px) {

  main{
    text-align: center;
    font-family: sans-serif;
    padding-top: 20px;
    max-width: 98vw;
  }

  .side{
    width: 75vw;
    padding: 10px 0px;
    margin: 0 auto 20px auto;
  
    background-color: rgb(31, 31, 31);
    color: white;
    display: flex;
    flex-direction: column;
  
    justify-content: center;
  }
}
@media (min-width:768px) {
  
  main{
    text-align: center;
  }
  
  .container {
    display: flex;
    flex-wrap: wrap;
    min-width: 90vw;
    max-width: 100vw;

    gap: 10px 10px;
    justify-content: space-evenly;
    margin: 10px 0px;
    padding: 10px 10px;
  }

  .main-sports {
    max-width: 70%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    
  }

  .item{
    max-width: 32%;
  }
  .item img{
    max-width: 100%;
  }

  .side{
    background-color: rgb(31, 31, 31);
    color: white;

    display: flex;
    flex-direction: column;
  }
  .side img {
    max-width: 20vw;
    padding: 10px;
  }


}

#logo{
  height: 40px;
  justify-content: center;
  align-items: center;
}

.btn-navbar > button{
  background-color: transparent;
  border: none;
  
  padding: 15px;
  color: white;
  font-size: 15px;
}

.btn-navbar{
  display: flex;
  justify-content: center;
}

.navbar{
  background-color: rgb(31, 31, 31);
  padding-top: 20px;
  text-align: center;
  max-width: 100vw;
}

.main-sports img{
  width: 90vw;
  border-radius: 12px;
}

.side img {
  width: 70vw;
  border-radius: 10px;
}

.side p {
  padding: 3px 0px 25px;
}

footer{
  display: flex;
  height: 100px;
  background-color: rgb(31, 31, 31);
  justify-content: space-between;
  align-items: center;
  max-width: 100vw;
  padding: 20px;
}

footer img {
  height: 40px;
}

footer button{
  background-color: transparent;
  border: none;
  color: white;
}